<div class="fixed inset-0 min-h-screen w-screen overflow-hidden bg-[#79c9f9]">
  <div
    class="ground bg-bottom bg-repeat-x w-full h-full absolute top-0 left-0 animate-ground-scroll z-40"
  ></div>
  <div
    class="clouds bg-bottom bg-repeat-x w-full h-full absolute top-0 left-0 animate-cloud-scroll z-30"
  ></div>
  <div
    class="water-sky-sun bg-bottom bg-repeat-x w-full h-full absolute top-0 left-0 animate-water-scroll z-20"
  ></div>
  <img
    ngSrc="assets/login/brendan.gif"
    class="brendan"
    height="192"
    width="192"
  />
</div>
