.ground {
  background-image: url("/assets/login/ground.png");
}
.clouds {
  background-image: url("/assets/login/clouds.png");
}
.water-sky-sun {
  background-image: url("/assets/login/water-sky-sun.png");
}

@keyframes ground-scroll {
  0% { background-position-x: 0; }
  100% { background-position-x: 3840px; }
}

.animate-ground-scroll {
  animation: ground-scroll 15s linear infinite;
}

.animate-cloud-scroll {
  animation: ground-scroll 60s linear infinite;
}

.animate-water-scroll {
  animation: ground-scroll 100s linear infinite;
}

.brendan {
  position: absolute;
  bottom: clamp(0px, 15vh, calc(100vh - 120px));
  right: clamp(0px, 15vw, calc(100vw - 120px));
  z-index: 50;
  width: 12vw;
  height: auto;
  max-width: 192px;
  max-height: 192px;
  transform: scale(2);

  @media (max-width: 600px) {
    bottom: clamp(0px, 10vh, calc(100vh - 100px));
    right: clamp(0px, 10vw, calc(100vw - 100px));
    width: 28vw;
    max-width: 120px;
    transform: scale(2);
  }
  @media (max-height: 750px) {
    transform: scale(2);
    max-height: 100px;
    max-width: 100px;
  }
}
