# Shared
NODE_ENV=development

# Auth0 (or Clerk) - pick one set
AUTH_DOMAIN=
AUTH_CLIENT_ID=
AUTH_AUDIENCE= # your Auth0 API identifier
AUTH_ISSUER_URL=

# Twitch bot / API
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_BOT_ACCESS_TOKEN=
TWITCH_BOT_REFRESH_TOKEN=

# DB
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/dbname?sslmode=require

# Web
FRONTEND_URL=http://localhost:4200
BACKEND_URL=http://localhost:3000
