<div
  class="relative rounded-lg p-4 flex flex-col items-center w-40 drop-shadow-lg border-2 border-neutral-300 justify-center indicator transition-transform select-none"
  [class]="cardClass"
  (click)="onPokemonSpeciesClick()"
>
  @if (amountCaught > 1) {
    <span class="indicator-item badge badge-accent rounded-full">{{
      amountCaught
    }}</span>
  }
  <div>
    <div class="w-full flex justify-center mb-2">
      @if (isCaught) {
        <img [src]="defaultPokemonSprite" class="w-24 h-24 object-contain" />
      } @else {
        <div
          class="w-24 h-24 flex justify-center items-center font-retro text-6xl"
        >
          ?
        </div>
      }
    </div>
    <div class="font-bold text-center">
      {{ pokemonName }}
    </div>
    <div class="text-xs text-center">{{ pokedexNumber }}</div>
    <div class="flex gap-2 mt-2 justify-center">
      <app-pokemon-type-label
        [pokemonType]="defaultType1"
        [hideType]="!isCaught"
      ></app-pokemon-type-label>
      @if (defaultType2) {
        <app-pokemon-type-label
          [pokemonType]="defaultType2"
          [hideType]="!isCaught"
        ></app-pokemon-type-label>
      }
    </div>
  </div>
</div>
