<div class="absolute inset-0 z-50 flex items-center justify-center h-dvh">
  <div class="flex flex-col items-center">
    <div
      class="absolute top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center w-full"
    >
      <div
        class="text-white font-pokemon text-2xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-6xl mb-5 text-shadow-black text-shadow-sm"
      >
        MagicalMagikarp's
      </div>
      <div
        class="text-white font-pokemon text-2xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-6xl mb-5 text-shadow-black text-shadow-sm"
      >
        Pokémonbot
      </div>
    </div>
    <button
      class="px-8 py-5 text-shadow-black text-shadow-xs cursor-pointer bg-[#f8f8f0]/90 border-4 border-[#9c9c9c] text-[#383838] text-3xl rounded-sm font-pokemon shadow transition hover:bg-[#e0dfd6] hover:border-[#707070] hover:text-[#202020]"
      (click)="login()"
    >
      Login
    </button>
    <div
      class="absolute bottom-2 right-0 mr-5 text-md text-white opacity-60 pointer-events-none select-none"
    >
      made with ❤️ by phipsi
    </div>
  </div>
</div>
<app-login-background class="absolute top-0 left-0 z-0"></app-login-background>
