.background-container.clouds { z-index: 20; }
.background-container.water-sky { z-index: 10; }
.background-container.ground { z-index: 40; }

.background-container {
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.background-scroll {
  display: flex;
  width: 200vw;
  height: 100%;
  object-fit: cover;
  animation: scroll-right 60s linear infinite;
}

.background-scroll.clouds { animation-duration: 60s; }
.background-scroll.water-sky { animation-duration: 90s; }
.background-scroll.ground { animation-duration: 20s; }

.background-scroll img {
  height: 100%;
  object-fit: cover;
}

@keyframes scroll-right {
  0% { transform: translateX(-100vw); }
  100% { transform: translateX(0); }
}

.brendan {
  position: absolute;
  bottom: clamp(0px, 15vh, calc(100vh - 120px));
  right: clamp(0px, 15vw, calc(100vw - 120px));
  z-index: 50;
  width: 12vw;
  height: auto;
  max-width: 192px;
  max-height: 192px;
  transform: scale(2);

  @media (max-width: 600px) {
    bottom: clamp(0px, 10vh, calc(100vh - 100px));
    right: clamp(0px, 10vw, calc(100vw - 100px));
    width: 28vw;
    max-width: 120px;
    transform: scale(1.5);
  }
  @media (max-height: 750px) {
  transform: scale(1.5);
  max-height: 100px;
  max-width: 100px;
}
}
