<div class="flex flex-col items-center p-4">
  <div class="w-full mb-5">
    <div
      class="w-full stats stats-vertical bg-base-100 lg:stats-horizontal shadow"
    >
      <div class="stat">
        <div class="stat-title">Pokedex Status</div>
        <div class="stat-value">
          {{ totalSpeciesCaught + " / " + totalPokemon }}
        </div>
      </div>

      <div class="stat">
        <div class="stat-title">Pokedex</div>
        <div class="stat-value">
          {{ percentageCaught + "%" }}
        </div>
      </div>

      <div class="stat">
        <div class="stat-title">Total Pokemon Caught</div>
        <div class="stat-value">{{ totalPokemonCaught }}</div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 justify-between w-full">
    @for (pokedexEntry of pokedexEntries; track pokedexEntry.id) {
      <app-pokemon-species-card [pokedexEntry]="pokedexEntry" />
    }
  </div>
</div>
